GPGO_MultiPLCs/Connected Services/GP_PLCs/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="CheckSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dev" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Initial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Bit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q1:BitType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_BitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Bits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q2:BitType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_BitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_BitsResult" nillable="true" type="q4:ArrayOfKeyValueOfintboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Bits2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="devs" nillable="true" type="q5:ArrayOfValueTupleOfBitTypeintZpCBpbGt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Bits2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_Bits2Result" nillable="true" type="q6:ArrayOfKeyValueOfValueTupleOfBitTypeintZpCBpbGtbooleanRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q7:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_DataResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q8:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_DatasResult" nillable="true" type="q10:ArrayOfKeyValueOfintshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Datas2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="devs" nillable="true" type="q11:ArrayOfValueTupleOfDataTypeintZpCBpbGt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Datas2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_Datas2Result" nillable="true" type="q12:ArrayOfKeyValueOfValueTupleOfDataTypeintZpCBpbGtshortRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Int">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q13:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_IntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_IntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q14:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_IntsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_IntsResult" nillable="true" type="q16:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ints2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="devs" nillable="true" type="q17:ArrayOfValueTupleOfDataTypeintZpCBpbGt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ints2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_Ints2Result" nillable="true" type="q18:ArrayOfKeyValueOfValueTupleOfDataTypeintZpCBpbGtintRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_String">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q19:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_StringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Bit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q20:BitType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Bits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q21:BitType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q22:ArrayOfKeyValueOfintboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Bits2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q23:ArrayOfKeyValueOfValueTupleOfBitTypeintZpCBpbGtbooleanRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q24:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q25:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q26:ArrayOfKeyValueOfintshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Datas2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q27:ArrayOfKeyValueOfValueTupleOfDataTypeintZpCBpbGtshortRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Int">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q28:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Ints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q29:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q30:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Ints2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devs" nillable="true" type="q31:ArrayOfKeyValueOfValueTupleOfDataTypeintZpCBpbGtintRDHGY3MA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_String">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="type" type="q32:DataType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="dev" type="xs:int" />
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list" nillable="true" type="q34:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Messages_Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" minOccurs="0" name="val" nillable="true" type="q35:PLC_Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status_Changed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>