GPGO_MultiPLCs/Connected Services/GP_PLCs/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfValueTupleOfBitTypeintZpCBpbGt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfBitTypeintZpCBpbGt" type="tns:ValueTupleOfBitTypeintZpCBpbGt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfBitTypeintZpCBpbGt" nillable="true" type="tns:ArrayOfValueTupleOfBitTypeintZpCBpbGt" />
  <xs:complexType name="ValueTupleOfBitTypeintZpCBpbGt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BitType" Namespace="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels">
          </GenericParameter>
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" name="Item1" type="q1:BitType" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfBitTypeintZpCBpbGt" nillable="true" type="tns:ValueTupleOfBitTypeintZpCBpbGt" />
  <xs:complexType name="ArrayOfValueTupleOfDataTypeintZpCBpbGt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfDataTypeintZpCBpbGt" type="tns:ValueTupleOfDataTypeintZpCBpbGt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfDataTypeintZpCBpbGt" nillable="true" type="tns:ArrayOfValueTupleOfDataTypeintZpCBpbGt" />
  <xs:complexType name="ValueTupleOfDataTypeintZpCBpbGt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DataType" Namespace="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels">
          </GenericParameter>
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MultiPLCs_Gate.ViewModels" name="Item1" type="q2:DataType" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfDataTypeintZpCBpbGt" nillable="true" type="tns:ValueTupleOfDataTypeintZpCBpbGt" />
</xs:schema>